@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Select Input Type</h2>
    <div class="row">
        <div class="col-md-3">
            @Html.ActionLink("Blood Sugar", "BloodSugar")
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Weight", "Weight")
        </div>
        <div class="col-md-3">
            @Html.ActionLink("A1C", "A1C")
        </div>
        <div class="col-md-3">
            @Html.ActionLink("Carbohydrates", "Carbs")
        </div>
    </div> 
</div>









