@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to the Diabetes Tracker</h1>
        <p>You can input data, store history, display graphs, and print them out. The goal is making managing diabetes a little less difficult.</p>
        <div class="row">
            
            <div class="col-md-6 text-center">@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary" })</div>
            <div class="col-md-6 text-center">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary" })</div>
           
        </div>
    </div>
</div>




